html{
  background-color: #efedcf67;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  color: #2e2622;
}
.divl1{
text-align: center;
margin: 0 auto;
}

button{
  font-size: 1.5em;
  font-weight:600;
  color: #E66D10;
  background-color: #2e2622;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.25s;
  border: none;
}
button:hover{
  background-color: #E66D10;
  color: #2e2622;
}
