html{
  background-color: #efedcf67;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  color: #2e2622;
}
main{
  margin-top: 200px;
}
header{
  float: top;
}
.divHome{
  border: 1px solid #2e2622;
  
}
h1{
  float: left;
  width: fit-content;
  font-size: 2.5rem;
  height: 1rem;
  padding: 0;
}


.button{
  font-size: 1rem;
  font-weight:600;
  color: #E66D10;
  background-color: #2e2622;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.25s;
  border: none;
}
.button:hover{
  background-color: #E66D10;
  color: #2e2622;
}
.login{
  float: right;
}


a{
  color: #2e2622;
  font-weight: bold;
}
a:visited{
  color:#2e2622;
}

/* button from webiste */
.Btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all .3s;
  border: none;
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #181818;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all .3s;
}

.Btn:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.Btn:hover .svgContainer {
  background-color: rgba(156, 156, 156, 0.466);
  backdrop-filter: blur(4px);
}

/*</button from website>*/






